@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?vgjdg7');
    src:    url('../fonts/icomoon.eot?vgjdg7#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?vgjdg7') format('truetype'),
        url('../fonts/icomoon.woff?vgjdg7') format('woff'),
        url('../fonts/icomoon.svg?vgjdg7#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="user-icon-"], [class*=" user-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.user-icon-weibiaoti1:before {
    content: "\e917";
}
.user-icon-30:before {
    content: "\e915";
}
.user-icon-kongjianxiu:before {
    content: "\e916";
}
.user-icon-shouye:before {
    content: "\e918";
}
.user-icon-dianzipingzheng:before {
    content: "\e910";
}
.user-icon-dingdan:before {
    content: "\e911";
}
.user-icon-gerenxinxi:before {
    content: "\e912";
}
.user-icon-pinpaituan:before {
    content: "\e913";
}
.user-icon-zhichishuaqia:before {
    content: "\e914";
}
.user-icon-check:before {
    content: "\e900";
}
.user-icon-chinamobile:before {
    content: "\e901";
}
.user-icon-dianxin:before {
    content: "\e902";
}
.user-icon-fanhui:before {
    content: "\e903";
}
.user-icon-gongshangyinxing:before {
    content: "\e904";
}
.user-icon-iconhqb01:before {
    content: "\e905";
}
.user-icon-jiansheyinxing:before {
    content: "\e906";
}
.user-icon-jiaotongyinxing:before {
    content: "\e907";
}
.user-icon-liantong:before {
    content: "\e908";
}
.user-icon-nongyeyinxing:before {
    content: "\e909";
}
.user-icon-p:before {
    content: "\e90a";
}
.user-icon-qianbi:before {
    content: "\e90b";
}
.user-icon-weixin:before {
    content: "\e90c";
}
.user-icon-zhaoshangyinxing:before {
    content: "\e90d";
}
.user-icon-zhifubao:before {
    content: "\e90e";
}
.user-icon-zhongguoyinxing:before {
    content: "\e90f";
}