<div class="bjui-pageHeader">
    <form id="pagerForm" data-toggle="ajaxsearch" action="__URL__" method="post">
        <input type="hidden" name="pageSize" value="{$numPerPage}">
        <input type="hidden" name="pageCurrent" value="{$_REQUEST['pageNum']|default=1}">

        <div class="bjui-searchBar">
            <div class="pull-right">
                <span <php>echo display(CONTROLLER_NAME.'/add');</php> >
                    <a href="__URL__/add/type/0/navTabId/{:CONTROLLER_NAME}" class="btn btn-green" data-toggle="dialog" data-width="600" data-height="250" data-id="dialog-mask" data-mask="true" data-icon="plus">添加中心</a>
                </span>
            </div>
        </div>
    </form>
</div>
<div class="bjui-pageContent tableContent">
  <table class="table table-bordered table-hover table-striped table-top" data-selected-multi="true" data-toggle="tablefixed">
        <thead>
            <tr>
                <th height="30" width="30" align="center">编号</th>
                <th align="center">中心名称</th>
                <th width="120" align="center">认证网点 / 待认证网点</th>
                <th width="100" align="center">操作</th>
            </tr>
        </thead>
        <tbody>
            <foreach name="list" item="v">
                <tr>
                    <td height="25" align="center">{$v.id}</td>
                    <td>
                        <switch name="v.level">
                            <case value="0"><b>{$v.title}</b></case> 
                            <case value="1">　{$v.title}</case>
                            <case value="2">　　{$v.title}</case>
                            <case value="3">　　　{$v.title}</case>
                            <default />
                        </switch>
                    </td>
                    <td height="25" align="center">
                    <php>
                        $vp = M('point')->where("parentid='". $v['id'] ."' and status=1")->count();
                        $np = M('point')->where("parentid='". $v['id'] ."' and status=0")->count();
                    </php>

                    <a href="/admin.php/home/point/index/parentid/{$v.id}/status/1" data-toggle="navtab" data-options="{id:'org_point'}" data-title="网点管理">{$vp}</a> / 
                    <a href="/admin.php/home/point/index/parentid/{$v.id}/status/0" data-toggle="navtab" data-options="{id:'org_point'}" data-title="网点管理">{$np}</a>
                    </td>
                    <td > 
                        <span <php>echo display(CONTROLLER_NAME.'/edit');</php>>
                            <a href="__URL__/edit/id/{$v['id']}/type/0/navTabId/{:CONTROLLER_NAME}"   class="btn btn-green btn-sm" data-toggle="dialog" data-width="600" data-height="250" data-id="dialog-mask" data-mask="true" >编辑</a>
                        </span>

                        <span <php>echo display(CONTROLLER_NAME.'/del');</php>>
                            <a href="__URL__/del/id/{$v['id']}/navTabId/org" class="btn btn-red btn-sm" data-toggle="doajax" data-confirm-msg="确定要删除吗？">删除</a>
                        </span> 
                    </td>
                </tr>
            </foreach>
        </tbody>
    </table>
</div>