<include file="Public/head" />

<body>

    <header data-am-widget="header" class="am-header am-header-default"  data-am-sticky="{animation: 'slide-top'}">
        <div class="am-header-left am-header-nav">
            <a href="/index.php/Dealerships/" class="">
                <i class="am-header-icon am-icon-chevron-left"></i>
            </a>
        </div>
        <h1 class="am-header-title">{$page_title}</h1>
    </header>

    <!--内容显示-->
    <div class="am-container">
        <div class="am-g am-padding">
            <article class="am-article" style="min-height: 250px;text-align: center; padding: 50px 0px 0px 0px;">
                <div class="am-article-hd">
                    <h1 style="margin:0px;">权限错误</h1>
                    <h3 style="margin:0px;">中心管理员无法提交网点认证申请</h2>
                    <h5 style="margin:0px;">ERRCODE: USER_AUTH_ERROR.</h4>
                </div>
            </article>
        </div>
    </div>
    <!--内容显示-->

    <include file="Public/foot" />