<div class="bjui-pageHeader">
	<form id="pagerForm" data-toggle="ajaxsearch" action="__URL__/receive/" method="post">

		<input type="hidden" name="pageSize" value="{$numPerPage}">
		<input type="hidden" name="pageCurrent" value="{$_REQUEST['pageNum']|default=1}">

		<div class="bjui-searchBar">

			<label>领取人姓名：</label>
			<input type="text" value="{$_REQUEST['user_name']}" name="user_name" class="form-control" size="12" />

			<select name="prize" id="prize" data-toggle="selectpicker">
				<option value='0'> 奖品名称 </option>
				<volist name="prize" id="item">
					<option value="{$item.id}"
					<eq name="item.id" value="$_REQUEST['prize']">selected</eq>
					>{$item.title}</option>
				</volist>
			</select>

            <button type="submit"  class="btn-default" data-icon="search">查询</button>
		</div> 
	</form>

</div>

<div class="bjui-pageContent tableContent">
  <table class="table table-bordered table-hover table-striped table-top" data-selected-multi="true">
		<thead>
			<tr>
				<th width="60" height="30" align="center">编号</th>
				<th>奖品名称</th>
				<th align="center">领取用户</th>
				<th align="center">领取时间</th>
				<th align="center">操作用户</th>
			</tr>
		</thead>
		<tbody>

			<foreach name="list" item="v">
				<tr>
					<td height="25" align="center">{$v.id}</td>
					<td>{$v.prize_id|getprizename}</td>
					<td align="center">{$v.user_name}</td>
					<td align="center">{$v.adddate}</td>
					<td align="center">{$v.add_user}</td>
				</tr>
			</foreach>
		</tbody>
	</table>
</div>