<html class="translated-ltr"><head>
<title>首页</title>
<link href="__ROOT__/Public/pc/css/style.css" rel="stylesheet" type="text/css" media="all">
<link href="__ROOT__/Public/pc/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<!-- js -->
<script src="__ROOT__/Public/pc/js/jquery.min.js"></script>
<!-- //js -->
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="keywords" content="Bizz Wow Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="__ROOT__/Public/pc/js/move-top.js"></script>
<script type="text/javascript" src="__ROOT__/Public/pc/js/easing.js"></script>

<!-- start-smoth-scrolling -->
	
<body>
	<div class="psd">
	<div class="container">
		<!-- header -->
		<include file="Public/head" />
		<!-- //header -->
<div class="copyrights"><font><font>从</font><a href="http://www.cssmoban.com/"><font>网页模板</font></a><font>收集</font></font><a href="http://www.cssmoban.com/"><font></font></a></div>
<!-- banner-bottom -->
	<div style="height:10px;background-color:#A4A4A4"></div>
	<div id="feature" style="min-height:600px;background-color:#ffffff;">
		<volist id="v" name="job_list" empty="暂时没有数据">
			<a href="__URL__/myjob_info?job_id={$v.job_id}" onmouseover="javascript:onjob({$v.job_id})" onmouseout="outjob()">
				<div class="banner-bottom-grids">
					<div class="banner-bottom-grid" id="job_{$v.job_id}">
						<div class="rod-fig">
							<span> </span>
						</div>
						<div class="um-text">
							<h4 style="font-weight: bold;">{$v.job_name}</h4>
							<p><font><font>{$v.desc}</font></font></p>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
			</a>
		</volist>
		<div class="clearfix"> </div>
	</div>
<!-- //banner-bottom -->
<!-- footer-top -->
	<div class="footer-top">
		<div class="footer-top-grid">
			<h3>ABOUT <span>BIZZWOW</span></h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque 
				id arcu neque, at convallis est felis. 
			</p>
		</div>
		<div class="footer-top-grid">
			<h3>THE <span>TAGS</span></h3>
			<div class="unorder">
				<ul class="tag2">
					<li><a href="#">awesome</a></li>
					<li><a href="#">strategy</a></li>
					<li><a href="#">development</a></li>
				</ul>
				<ul class="tag2">
					<li><a href="#">css</a></li>
					<li><a href="#">photoshop</a></li>
					<li><a href="#">photography</a></li>
					<li><a href="#">html</a></li>
				</ul>
			</div>
		</div>
		<div class="footer-top-grid">
			<h3>LATEST <span>TWEETS</span></h3>
			<ul class="twi">
				<li>I like this awesome freebie. Check it out <a href="mailto:info@example.com" class="mail">
				@http://t.co/9vslJFpW</a> <span>ABOUT 15 MINS</span></li>
			</ul>
		</div>
		<div class="footer-top-grid">
			<h3>FLICKR <span>FEED</span></h3>
			<div class="flickr-grids">
				<div class="flickr-grid">
					<img src="__ROOT__/Public/pc/images/15.png" alt=" " title="CEO">
				</div>
				<div class="flickr-grid">
					<img src="__ROOT__/Public/pc/images/16.png" alt=" " title="GM">
				</div>
				<div class="flickr-grid">
					<img src="__ROOT__/Public/pc/images/17.png" alt=" " title="CEO">
				</div>
				<div class="clearfix"> </div>
				
			</div>
		</div>
		<div class="clearfix"> </div>
	</div>

	</div>
	</div>
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			$().UItoTop({ easingType: 'easeOutQuart' });
		});
		
		function onjob(id){
			var job=document.getElementsByClassName('banner-bottom-grid');
				document.getElementById("job_"+id).style.background="#ccc";
		}
		function outjob(){
			var job=document.getElementsByClassName('banner-bottom-grid');
			for(var i=0;i<job.length;i++){
				job[i].style.background="#fff";
			}
		}
	</script>
<!-- //here ends scrolling icon -->

