<div class="bjui-pageHeader">
  <form id="pagerForm" data-toggle="ajaxsearch" action="__URL__" method="post">
    <input type="hidden" name="pageSize" value="{$numPerPage}">
    <input type="hidden" name="pageCurrent" value="{$_REQUEST['pageNum']|default=1}">

    <div class="bjui-searchBar">
      <label>会员编号：</label>
      <input type="text" value="{$_REQUEST['user_id']}" name="user_id" class="form-control" size="10" />
      <button type="submit" class="btn-default" data-icon="search">查询</button>
      <a class="btn btn-orange" href="javascript:;" onclick="$(this).navtab('reloadForm', true);" data-icon="undo">清空查询</a>
      
    </div> 
  </form>

</div>
<div class="bjui-pageContent tableContent">
  <table class="table table-bordered table-hover table-striped table-top" data-selected-multi="true" data-toggle="tablefixed">
    <thead>
      <tr>
        <th align="center" width="60" height="30" align="center" data-order-direction="desc" data-order-field="log_id">编号</th>
        <th align="center" data-order-direction="desc" data-order-field="order_id">订单编号</th>
        <th align="center" data-order-direction="desc" data-order-field="time">时间</th>
        <th align="center" data-order-direction="desc" data-order-field="user_id">会员编号</th>
        <th align="center" data-order-direction="desc" data-order-field="user_name">会员名称</th>
        <th align="center" data-order-direction="desc" data-order-field="money">金额</th>
        <th align="center" data-order-direction="desc" data-order-field="operat_memo">操作备注</th>
        
      </tr>
    </thead>
    <tbody>

      <volist id="v" name="list">
        <tr>
          <td align="center">{$v.log_id}</td>
          <td align="center">{$v.order_id}</td>
          <td align="center">{$v.time}</td>
          <td align="center">{$v.user_id}</td>
          <td align="center">{$v.user_name}</td>
          <td align="center">{$v.money} </td>
          <td align="center"> 
            <span <php>echo display(CONTROLLER_NAME.'/del');</php>>
              <a href="__URL__/del/id/{$v['log_id']}/navTabId/affiliate" class="btn btn-red btn-sm" data-toggle="doajax" data-confirm-msg="确定要删除吗？">删除</a>
            </span> 
          </td>
          
        </tr> 
      </volist>
    </tbody>
  </table>


  <div class="bjui-pageFooter">
    <div class="pages">
    <span>共 {$totalCount} 条，每页 {$numPerPage} 条</span>
    </div>
    <div class="pagination-box" data-toggle="pagination" data-total="{$totalCount}" data-page-size="{$numPerPage}" data-page-current="{$currentPage}">
    </div>
  </div>
</div>