<include file="Public/head" />
<link href="__PUBLIC__/web/css/mui.picker.min.css" rel="stylesheet" />
<link href="__PUBLIC__/web/css/mui.poppicker.css" rel="stylesheet" />
<body>
    <header class="page-header">
        <i class="header-left icon-func user-icon-fanhui"></i>
        <div class="header-title">{$page_title}</div>
    </header>
    <section class="container">
        <form method="post" id="addcard" onsubmit="return addcard_check()">
            <input type="hidden" name="bank_id" id="bank_id" class="mui-input-clear" value="{$bank['bank_id']}">
            <section class="mui-input-group">
                <div id="showUserPicker" class="mui-input-row">
                    <label>开户银行：</label>
                    <input type="text" name="bankname" id="userResult" class="mui-input-clear" placeholder="请选择开户银行" value="{$bank['bankname']}" style="ime-mode:disabled" >
                </div>
                <div class="mui-input-row">
                    <label>户主姓名：</label>
                    <input type="text" name="bankusername" id="bankusername" class="mui-input-clear" placeholder="请填写户主姓名"value="{$bank['bankusername']}">
                </div>
                <div class="mui-input-row">
                    <label>银行卡号：</label>
                    <input type="number" name="bankcode" id="bankcode" class="mui-input-clear" placeholder="请填写银行卡号"value="{$bank['bankcode']}">
                </div>
                <div class="mui-input-row">
                    <label>手机号码：</label>
                    <input type="number" name="phone" id="phone" class="mui-input-clear" placeholder="请填写银行预留手机号"  value="{$bank['phone']}">
                </div>
            </section>
            <section class="mui-content-padded form-op-section">
                <button type="button" class="mui-btn mui-btn-block mui-btn-success btn-action" id="addcard_btn">保存</button>

                <eq name="show_delete" value="1">
                    <button type="button" class="mui-btn mui-btn-block mui-btn-danger btn-action" id="delcard_btn">删除</button>
                </eq>
                <span id="addcard_span"></span>
            </section>
        </form>
    </section>
    <script type="text/javascript">var navid =2;</script>
    <include file="Public/foot" />
    <script src="__PUBLIC__/web/lib/js/mui.picker.min.js"></script>
    <script src="__PUBLIC__/web/lib/js/mui.poppicker.js"></script>
    <script>
        (function($, doc) {
            $.init();
            $.ready(function() {
                //普通示例
                var userPicker = new $.PopPicker();
                userPicker.setData([{
                    value: '中国银行',
                    text: '中国银行'
                }, {
                    value: '中国建设银行',
                    text: '中国建设银行'
                }, {
                    value: '中国农业银行',
                    text: '中国农业银行'
                }, {
                    value: '中国工商银行',
                    text: '中国工商银行'
                }]);
                var showUserPickerButton = doc.getElementById('showUserPicker');
                var userResult = doc.getElementById('userResult');
                showUserPickerButton.addEventListener('tap', function(event) {
                    userPicker.show(function(items) {
                        userResult.value = items[0].text;
                        //返回 false 可以阻止选择框的关闭
                        //return false;
                    });
                }, false);
            });
        })(mui, document);

        $('#addcard_btn').on('click',function(){
            return addcard_check();
        })

        <eq name="show_delete" value="1">
            $('#delcard_btn').on('click',function(){
                var btnArray = ['是', '否'];
                mui.confirm('删除后不可恢复，确定要删除吗？', '删除确认', btnArray, function(e) {
                    if (e.index == 0) {
                        $.ajax({
                            type: "get",
                            cache:false,
                            data: {bank_id:{$bank['bank_id']}},
                            url: "/index.php/user/delbank",
                            timeout: 20000,
                            error: function(){
                                mui.alert('服务器故障，请联系管理员处理', 'Error');
                            },
                            success: function(t){
                                if(t=='success'){
                                    window.location.href="/index.php/user/cards";
                                }else{
                                    alert(t);
                                }
                            }
                        });
                    }
                })
            })
        </eq>

        function addcard_check(){
            //判断用户输入是否完整
            if($("#userResult").val() == ''){
                mui.alert('请选择开户银行', 'Error');
                $("#userResult").focus();
                return false;
            }
            if($("#bankusername").val() == ''){
                mui.alert('请填写户主姓名', 'Error');
                $("#bankusername").focus();
                return false;
            }
            if($("#bankcode").val() == '' || $("#bankcode").val().length != 19){
                mui.alert('银行卡号填写错误，请检查', 'Error');
                $("#bankcode").focus();
                return false;
            }
            if($("#phone").val() == ''){
                mui.alert('请填写银行预留手机号', 'Error');
                $("#phone").focus();
                return false;
            }
            $("#addcard_btn").hide();
            $("#delcard_btn").hide();
            $("#addcard_span").html("正在提交...");
            $.ajax({
                type: "post",
                cache:false,
                data: {bank_id:$("#bank_id").val(), bankname:$("#userResult").val(), bankusername:$("#bankusername").val(), bankcode:$("#bankcode").val(), phone:$("#phone").val()},
                url: "__SELF__",
                timeout: 20000,
                error: function(){
                    mui.alert('服务器故障，请联系管理员处理', 'Error');
                },
                success: function(t){
                    if(t=='success'){
                        window.location.href="/index.php/user/cards";
                    }else{
                        alert(t);
                        $("#addcard_btn").show();
                        $("#delcard_btn").show();
                        $("#addcard_span").html("");
                    }
                }
            });
        }
    </script>
</body>
</html>