<include file="Public/head" />

<body>

    <header data-am-widget="header" class="am-header am-header-default"  data-am-sticky="{animation: 'slide-top'}" style="z-index: 9;">
        <div class="am-header-left am-header-nav">
            <a href="/index.php/user/sign/" class="">
                <i class="am-header-icon am-icon-chevron-left"></i>
            </a>
        </div>
        <h1 class="am-header-title">{$page_title}</h1>

    </header>

    <!--内容显示-->

    <div class="am-container">
        <div class="am-g">
            <div id="login_html">
                <form class="am-form">
                    <fieldset >
                        <div class="am-form-group" style="text-align:left;">
                            <label for="doc-ds-ipt-1">请输入您的手机号</label>
                            <input type="text" id="user_phone" class="am-form-field" placeholder="请输入您的手机号" value="">
                        </div>

                        <div class="am-form-group" style="text-align:left;">
                            <label for="oc-ds-select-1">请输入验证码</label>
                            <div class="am-cf"></div>
                            <input type="text" id="verifcode" class="am-form-field" placeholder="请输入验证码" value="" style="width:50%; float:left;">
                            <button type="button" class="am-btn am-btn-default" style="width:50%; float:left;" onclick="sendsms('sendagain');" id="sendagain">发送验证码</button>
                        </div>

                        <div class="am-cf" style="color:#ff0000;">
                            <span id="msg"></span>
                        </div>

                        <div class="am-cf">
                            <button type="button" class="am-btn am-btn-danger am-radius am-btn-block am-margin-top" onclick="login_check();">登陆</button>
                        </div>

                    </fieldset>
                </form>
            </div>
        </div>
    </div>

    <include file="Public/foot" />

    <!--内容显示-->

    <script type="text/javascript">
        function login_check(){
            var tel = $("#user_phone").val();
            var verifcode = $("#verifcode").val();
            if(!(/^1[3|4|5|8][0-9]\d{4,8}$/.test(tel))){ 
                alert("手机号码填写不正确，请检查"); 
                return false; 
            }
            if( verifcode=='' || verifcode==null ){ 
                alert("验证码格式不正确"); 
                return false; 
            }
            $.ajax({
                type: "get",
                cache:false,
                url: "/index.php/user/login_check/user_phone/"+tel+"/verifcode/"+verifcode,
                timeout: 20000,
                error: function(){ alert("出错了, 请联系管理员处理")},
                success: function(t){
                    if(t=='1'){
                        $('#msg').html('登陆成功，正在跳转');
                        window.location.href="/index.php/user/sign";
                    }else{
                        $('#msg').html(t);
                    }
                }
            });

        }

        function sendsms(obj){
            var tel = $("#user_phone").val();
            console.log(tel);
            if(!(/^1[3|4|5|8][0-9]\d{4,8}$/.test(tel))){ 
                alert("手机号码填写不正确，请检查"); 
                return false; 
            } 
            settime(obj);
            $.ajax({
                type: "get",
                cache:false,
                url: "/index.php/sms/loginverifsms/RecNum/"+tel,
                timeout: 20000,
                error: function(){ alert("出错了, 请联系管理员处理")},
                success: function(t){
                    $('#msg').html(t);
                }
            });
        }

        var countdown=60; 
        function settime(obj) { 
            if (countdown == 0) {
                $("#"+obj).attr('disabled',false);
                $("#"+obj).html("重新发送");
                countdown = 60; 
                return;
            } else { 
                $("#"+obj).attr('disabled',true);
                $("#"+obj).html("重新发送(" + countdown + ")");
                countdown--; 
            } 
            setTimeout(function() { 
                settime(obj) }
                ,1000) 
        }
    </script>
