<include file="Public/head" />

<body>
	<header class="page-header">
		<div class="header-title">秀一秀</div>
	</header>
	<section class="container">
		<div class="show">
			<div class="show-modal">
				<div class="show-info">
					<div class="show-avatar"><img src="{$headimgurl}" alt=""></div>
					<div class="show-name">
						<div>我是 <span>{$nickname}</span></div>
						<div>我为流联代言</div>
					</div>
				</div>
				<div class="show-qrcode"><img src="{$qrcode}" alt=""></div>
				<div>长按识别二维码</div>
				<div class="show-tips">分享流联文化，联合百万代言人一起省资费</div>
			</div>
		</div>
	</section>
	<script type="text/javascript">var navid =1;</script>
	<include file="Public/foot" />

	<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
</body>
</html>