<include file="Public/head" />

<body>

    <header data-am-widget="header" class="am-header am-header-default"  data-am-sticky="{animation: 'slide-top'}">
        <div class="am-header-left am-header-nav">
            <a href="/index.php/lottery/lists/playname/{$playname}" class="">
                <i class="am-header-icon am-icon-chevron-left"></i>
            </a>
        </div>
        <h1 class="am-header-title">{$page_title}</h1>
        
    </header>

    <!--内容显示-->
    <div class="am-container">
        <div class="am-g am-padding">
            <article class="am-article">
                <div class="am-article-hd">
                    <h3 class="am-article-title">{$Rs.title}</h3>
                    <p class="am-article-meta">
                        第 {$Rs.code} 期 | 日期:<php>echo substr($Rs['addtime'],0,10);</php>
                    </p>
                </div>
                <div class="am-margin-top am-margin-bottom" style="text-align:center">
                    <php>
                        $lt_num = $Rs['numbers'];
                        $lt_num = str_replace('+',',',$lt_num);
                        $lt_num = str_replace(' ',',',$lt_num);
                        $lt_nums = explode(',', $lt_num);
                    </php>
                    <foreach name="lt_nums" item="lt_nums" key="k" >
                        <if condition="$k elt 4">
                            <font class='rednum'>{$lt_nums}</font>
                            <else />
                            <font class='bluenum'>{$lt_nums}</font>
                        </if>
                    </foreach>
                    <div style="clear:both;"></div>
                </div>
                <hr>

                <div class="am-article-bd">
                    {$Rs.value|stripslashes}
                </div>
            </article>
        </div>
    </div>
    <!--内容显示-->

    <include file="Public/foot" />